.container {
  display: flex;
  justify-content: flex-end;
  background-color: #e60059;
  text-align: end;
  height: 50px;
  padding-top: 20px;
}

.link {
  padding-right: 30px;
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  color: #4a306e;
}

#logo {
  font-size: 50px;
  margin: 10px auto;
}
